<div id="about">
    <h1>Hey, I'm Trowbridge.</h1>
    <hr/>
    
    <div class="about-content">
        <div class="id-box">
            <div id="portrait" style="background-image:url(/portrait.JPG)"></div>
            <a id="bio" class="btn button">Bio</a>
            <a id="values" class="btn button">Values</a>
            <a id="resume" class="btn button">Vision</a>
        </div>
        <div id="about-text" class="about-text">
            <h4>But you should probably call me Toby, for both of our sakes. I'll be a student at Middlebury College in Vermont starting 
            September 2018, but right now I'm just a guy.</h4>
            <br/>
            <br/>
            <h4> Welcome to my blog, web development portfolio, and personal website.</h4>
        </div>
        <div id="bio-text" class="about-text">
            <h4>I'm from Putney, VT.</h4>
        </div>
        <div id="values-text" class="about-text">
            <h4>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions 
            impact the quality of the future.</h4>
        </div>
    </div>
</div>