<div id="about">
    <h1>Hey, I'm Trowbridge.</h1>
    <hr/>
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-0 col-sm-1"></div>
                <div class="col-xs-12 col-sm-3">
                    <div class="id-box">
                        <div id="portrait" style="background-image:url(/pics/portrait.png)"></div>
                        <a id="intro" class="about-btn btn button active">Intro</a>
                        <a id="bio" class="about-btn btn button">Bio</a>
                        <!--<a id="coding" class="about-btn btn button">Coding</a>-->
                        <!--<a id="values" class="about-btn btn button">Values</a>-->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7">
                    <div id="intro-text" class="about-text">
                        <h4>But you should probably call me Toby, for both of our sakes. I'm a second year student at
                            Middlebury College.</h4>
                        <br/>
                        <br/>
                        <h4> Welcome to my development portfolio and personal website.</h4>
                    </div>
                    <div id="bio-text" class="about-text">
                        <p><strong>I grew up in rural Putney, Vermont, with my parents, older sister,
                            and cat.</strong> I did a lot of drawing and cross-country skiing.
                        I went to highschool as a day student at Northfield Mount Hermon in Western Massachusetts.
                        I took a gap year before college, during which I went on some great adventures in Chile, Bolivia,
                        Cuba, Spain, Italy, Portugal, Denmark, and Crested Butte, Colorado.</p>
                        <br/>
                        <p><strong>I am currently a math major (with a concentration on mathematical sciences) at Middlebury college in Vermont, and have taken 5 physics classes, through quantum and physics math.</strong>
                        I am attracted to problems at the intersection of quantitative, aesthetic, and philosophical thought.
                        I aspire to live an impactful and creative life, and think that we live in an era of profound importance.
                        I enjoy learning and challenges, and thus hope for a lifestyle which requires frequent adaptation.
                        Both intellectually and practically, I am most excited about information networks' relationship
                        with human social structure.</p>
                        <br/>
                        <p><strong>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions impact the
                        quality of the future.</strong></p>
                    </div>
                </div>
                <div class="col-xs-0 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
