<div id="about">
    <h1>Hey, I'm Trowbridge.</h1>
    <hr/>
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-0 col-sm-1"></div>
                <div class="col-xs-12 col-sm-3">
                    <div class="id-box">
                        <div id="portrait" style="background-image:url(/portrait.JPG)"></div>
                        <a id="intro" class="about-btn btn button active">Intro</a>
                        <a id="bio" class="about-btn btn button">Bio</a>
                        <a id="values" class="about-btn btn button">Values</a>
                    </div>
                </div>
                        
                <div class="col-xs-12 col-sm-7">
                    <div id="intro-text" class="about-text">
                        <h4>But you should probably call me Toby, for both of our sakes. I'll be a student at Middlebury College in Vermont starting 
                        September 2018, but right now I'm just a guy.</h4>
                        <br/>
                        <br/>
                        <h4> Welcome to my blog, web development portfolio, and personal website.</h4>
                    </div>
                    <div id="bio-text" class="about-text">
                        <p>I grew up in rural Putney, Vermont, with my parents, older sister, and cat. I did a lot of playing, drawing, and cross-country skiing.
                        I went to highschool as a day student at Northfield Mount Hermon in Western Massachusetts,
                        where I continued to spend a lot of time playing. I was the captain of the cross-country ski team, and competed in varsity crew, track, and
                        lacrosse. I was also a Debate Team officer, and graduated with Cum Laude honors in academics. It was a time of little sleep, sore muscles, and 
                        boarding school blur. Again, there was a lot of playing involved, including (most notably) an absolute mastery of foosball and 
                        a spring break trip to Havana, where heavy budgeting in terms of food led us to catch some nasty bugs.</p>
                        <br/>
                        <p>Currently, I'm taking a gap year before attending college. Some of my more exciting adventures have been another week-long Cuba peregrination, a few weeks
                        of living in my car and working as a landscaper in Nantucket,
                        a 70ish day journey through Chile and Bolivia, where I spent a total of 5 weeks working at two hostels (one in Pucon and another in Santiago), and 
                        the long process of learning to build websites. At the moment, I'm working as a lift operator at Crested Butte Mountain Resort in Colorado.</p>
                        <br/>
                        <p>Some of my most defining characteristics are my intensity, independence, intellectual curiousity, ambition,
                        intolerance of bullshit and hypocrisy, creativity, adventurousness, sociability, impatience, and hubris.</p> 
                    </div>
                    <div id="values-text" class="about-text">
                        <h5>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions 
                        impact the quality of the future.</h5> 
                        <br/>
                        <p>I believe that people should only work towards goals which align with their values, and that the only reason to collaborate
                        is to work towards common goals. Therefore, shared values should be the foundation of any working relationship. It is a flaw of our
                        tech-era collaborative tools (and indeed capitalist collaboration in general) that everybody shares what they can do, but not why 
                        they want to do those things. I will address this problem here.</p>
                        <br/>
                        <p><b>I care about conserving the natural beauty of our world,</b> which I believe to be an elementary ingredient of human health and joy.
                        <br><br><b>I believe that intellectual curiousity is the noblest human craving,</b> and a natural consequence of the decision to appreciate life.
                        Extending this, I think that education is the single most important social system.
                        <br><br><b>I consider liberty to be an intrinsically valuable end in itself,</b> and that we as a global community are at greater risk of losing our sense 
                        of liberty than we have collectively been since the rise of fascism in the 20th century – this by virtue of complacency and panic more than hatred and demagoguery.
                        <!--Ultimately, I would argue that while solipsism is logically inevitable, it is more fruitful to pursue an-->
                        <!--intangible sense of universal harmony based on well thought-out moral assumptions (like the protection and continuation of the human historical narrative)-->
                        <!--than it is to pursue a strictly-defined materialist goal based on similar assumptions (like the most happiness for the most people). The former -->
                        <!--example is what I would say supports my sense of purpose in life, if I were asked to define it.-->
                        </p>
                        <br>
                        <p>Ultimately, for me, while solipsism is logically inevitable, it is fruitful to pursue an intangible sense of universal harmony based on well thought-out moral assumptions 
                        (like the protection and continuation of the human historical narrative). For this reason, I am suspicious of strictly defined materialist-hedonist goals, 
                        even benevolent ones like acheiving the most happiness for the most people. If you work with me, know this: I have existential goals for our species, but I am 
                        disposed to fear reckless and quantitative actions which affect our direction.</p>
                    </div>
                </div>
                <div class="col-xs-0 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>