<div id="about">
    <h1>Yo, I'm Trowbridge.</h1>
    <hr/>
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-0 col-sm-1"></div>
                <div class="col-xs-12 col-sm-3">
                    <div class="id-box">
                        <div id="portrait" style="background-image:url(/pics/IMG_4086.JPG)"></div>
                        <a id="intro" class="about-btn btn button active">Intro</a>
                        <a id="bio" class="about-btn btn button">Bio</a>
                        <!--<a id="coding" class="about-btn btn button">Coding</a>-->
                        <!--<a id="values" class="about-btn btn button">Values</a>-->
                    </div>
                </div>
                        
                <div class="col-xs-12 col-sm-7">
                    <div id="intro-text" class="about-text">
                        <h4>But you should probably call me Toby, for both of our sakes. I'll be a student at Middlebury College in Vermont starting 
                        September 2018, but right now I'm just a guy.</h4>
                        <br/>
                        <br/>
                        <h4> Welcome to my development portfolio and personal website.</h4>
                    </div>
                    <div id="bio-text" class="about-text">
                        <p>I grew up in rural Putney, Vermont, with my parents, older sister, and cat. I did a lot of playing, drawing, and cross-country skiing.
                        I went to highschool as a day student at Northfield Mount Hermon in Western Massachusetts,
                        where I continued to spend a lot of time playing. Right now, I'm taking a gap year before going to college. I've been on some great adventures in Cuba, Chile, and Bolivia, and spent the winter 
                        working as a lift operator at a ski mountain in Crested Butte, Colorado, 
                        where the awful snow conditions on the gnarlier terrain forced me to send some trickies in the park.</p>
                        <br/>
                        <p>I am interested in most things, but am particularly attracted by the purely logical nature of computers.
                        Beyond that, I am also excited about computers' and their networks' relationship with humans, our society, and its structure.
                        I think that we live in an unprecedented era of change, a more extreme analog to the technological, 
                        social, and ideological revolutions which shook Western society throughout the 18th and early 19th centuries.
                        For these reasons, I am drawn to web and blockchain technology, the study of which exists at the 
                        intersection between sociopolitical and technical analysis.</p>
                        <br/>
                        <p>While I am not sure exactly what kind of career I want, I feel a deep drive to understand the world and am certain 
                        that I want to participate in the determination of our collective future. 
                        I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions impact the
                        quality of the future. We live in a time with many problems to solve, and for that I am grateful –
                        though I hope dearly never to lose my appreciation for rigorous question-asking in this frenzy of solutionism.</p>
                    </div>
                    <!--<div id="coding-text" class="about-text">-->
                    <!--    Since the purpose of this site is to display some of my coding work (and hopefully-->
                    <!--    get me hired or something), I'll talk here a little about-->
                    <!--    my experience and skills as a developer specifically.-->
                        
                    <!--    I originally learned about the existence of programming in 9th grade. A little late, perhaps,-->
                    <!--    but I grew up in rural Vermont on a strict 30 minute per-day online flash-gaming diet. -->
                    <!--    Anyways, I took an Intro to Programming in Java course. I had a great time, my greatest project -->
                    <!--    being a game in which the player controls a hippie whose job is to consume as much granola as possible-->
                    <!--    while avoiding sinister blue and white cars and acquiring mysterious power-up mushrooms.-->
                        
                    <!--    Despite my enjoyment of the elective, I did not code again until my senior year, when I took my highschool's-->
                    <!--    only other compsci course, AP Compsci. I rediscovered my love for programming during that course,-->
                    <!--    and compsci became my top choice of college major. During my senior spring,-->
                    <!--    I decided to take a gap year before college, due in large part to my excitement with learning more about computers.-->
                        
                    <!--    The world of pressing buttons to control computers is a large one, however, and intimidating to a newbie. -->
                    <!--    Without much understanding of the landscape, I bought a 48-hour fullstack web dev course on Udemy. -->
                    <!--</div>-->
                    <!--<div id="values-text" class="about-text">-->
                    <!--    <h5>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions -->
                    <!--    impact the quality of the future.</h5> -->
                    <!--    <br/>-->
                    <!--    <p>I believe that people should only work towards goals which align with their values, and that the only reason to collaborate-->
                    <!--    is to work towards common goals. Therefore, shared values should be the foundation of any working relationship. It is a flaw of our-->
                    <!--    tech-era collaborative tools (and indeed capitalist collaboration in general) that everybody shares what they can do, but not why -->
                    <!--    they want to do those things. I will address this problem here.</p>-->
                    <!--    <br/>-->
                    <!--    <p><b>I care about conserving the natural beauty of our world,</b> which I believe to be an elementary ingredient of human health and joy.-->
                    <!--    <br><br><b>I believe that intellectual curiousity is the noblest human craving,</b> and a natural consequence of the decision to appreciate life.-->
                    <!--    Extending this, I think that education is the single most important social system.-->
                    <!--    <br><br><b>I consider liberty to be an intrinsically valuable end in itself,</b> and that we as a global community are at greater risk of losing our sense -->
                    <!--    of liberty than we have collectively been since the rise of fascism in the 20th century – this by virtue of complacency and panic more than hatred and demagoguery.-->
                    <!--    </p>-->
                    <!--    <br>-->
                    <!--    <p>Ultimately, for me, while solipsism is logically inevitable, it is fruitful to pursue an intangible sense of universal harmony based on well thought-out moral assumptions, -->
                    <!--    like the protection and continuation of the human historical narrative.</p>-->
                    <!--</div>-->
                </div>
                <div class="col-xs-0 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>