<div id="contact">
    <hr/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6 contact">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <p class="location">Currently in Gunnison, Colorado</p>
            </div>
            <div class="col-md-6 contact">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <p class="email"><a href="mailto:tobyweed@gmail.com">tobyweed@gmail.com</a></p>
            </div>
        </div>
        <div class="contact-icons contact">
                <a href="https://www.facebook.com/toby.weed"><span class="fa fa-facebook"></span></a>
                <a href="https://github.com/tobyweed"><span class="fa fa-github"></span></a>
                <a href="https://www.linkedin.com/in/trowbridge-weed-52b06614b/"><span class="fa fa-linkedin"></span></a>
        </div>
        <div class="copyright">
            <span>©2017 Trowbridge Weed. All rights reserved. All Images by Toby Weed.</span>
        </div>
        <br/>
    </div>
</div>