<!DOCTYPE html>
<html>
<head>
	<title>Toby Weed</title>
	<meta name="description" content="Web Development and Blog by Trowbridge (Toby) Weed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/essays.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/resume.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/avenir"></link>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400|Source+Sans+Pro:200,300,400" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script>
        function scrollLinks(){
            $("a").on('click', function(event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();
            
                  // Store hash
                  var hash = this.hash;
            
                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){
               
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                }
            });
              
          $(window).scroll(function(){
                var fromTop = $(window).scrollTop(),
                    navItems = $(".navbar").find("a"),
                    navHead = $("#switch").offset().top,
                    about = $("#about").offset().top,
                    resume = $("#resume").offset().top,
                    projects = $("#projects").offset().top,
                    contact = $("#contact").offset().top;
                    
                if (fromTop >= navHead) {
                    $(".navbar").addClass("navbar-sticky");
                    $(".navbar").removeClass("navbar-bottom");
                } else {
                    $(".navbar").removeClass("navbar-sticky");
                    $(".navbar").addClass("navbar-bottom");
                }
                
                $(navItems).removeClass("active");
                
                if(fromTop >= about) { 
                    if(fromTop >= about-100 && fromTop < resume-100) {
                        $('a[href="#about"]').addClass("active");
                    } else if (fromTop >= resume-100 && fromTop < projects-100) {
                        $('a[href="#resume"]').addClass("active");
                    } else if (fromTop >= projects-100 && fromTop < projects+450) {
                        $('a[href="#projects"]').addClass("active");
                    } else if (fromTop >= projects+450) {
                        $('a[href="#contact"]').addClass("active");
                    }
                }
            });
            
            $("#intro").click(function(){
                $(".about-text").fadeOut(100)
                $("#intro-text").fadeIn(500);
                
                $(".about-btn").removeClass("active");
                $(this).addClass("active")
            });
          
            $("#bio").click(function(){
                $(".about-text").fadeOut(100)
                $("#bio-text").fadeIn(500);
                
                $(".about-btn").removeClass("active");
                $(this).addClass("active");
            });
            
            $("#values").click(function(){
                $(".about-text").fadeOut(100)
                $("#values-text").fadeIn(500);
                
                $(".about-btn").removeClass("active");
                $(this).addClass("active");
            });

        }
    </script>
</head>
<body onLoad="scrollLinks()">
    
