<hr id="spacer"></hr>
<hr id="switch"></hr>
<div class="navbar navbar-bottom">
    <ul id="nav-list">
        <li class="nav-item"><a href="#about">ABOUT</a></li>
        <li class="nav-item"><a href="#resume">RESUME</a></li>
        <li id="nav-head"><a href="/">TOBY WEED</a></li>
        <li class="nav-item"><a href="#projects">PROJECTS</a></li>
        <li class="nav-item"><a href="#contact">CONTACT</a></li>
    </ul>
</div>