<hr id="spacer"></hr>
<hr id="switch"></hr>
<div class="navbar navbar-bottom">
    <ul id="nav-list">
        <li class="nav-item"><a href="#about">ABOUT</a></li>
        <li class="nav-item"><a href="#resume">RESUME</a></li>
        <li id="nav-head"><a href="/">TOBY WEED</a></li>
        <li class="nav-item"><a href="#projects">PROJECTS</a></li>
        <li class="nav-item"><a href="#contact">CONTACT</a></li>
        <li class="dropdown"><a id="dropdown-button" onclick="dropNav()"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
    </ul>
    <div class="dropdown-content navbar-responsive">
        <ul class="drop-list">
            <li class="drop-item top"><a href="#about">ABOUT</a></li>
            <li class="drop-item"><a href="#resume">RESUME</a></li>
            <li class="drop-item"><a href="#projects">PROJECTS</a></li>
            <li class="drop-item"><a href="#contact">CONTACT</a></li>
        </ul>
    </div>
</div>