<div id="projects" class="background-image">
    <h1>PROJECTS |<a href="https://github.com/tobyweed" target="_blank"><span class="fa fa-github"></span></a></h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/automaton.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Totalistic Cellular Automata</h4>
                            <em>Chaotic System Simulation Applet</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://totalistic-cellular-automata.herokuapp.com/Automata.html" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/FTM_logo.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Live Event Market</h4>
                            <em>POC Web App for First Tube Media</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://github.com/tobyweed/live-event-market" target="_blank">View Source</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/juliajensen.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Julia Jensen Studio Art</h4>
                            <em>Artist Portfolio with Custom CMS</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/HackUMass.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Deadline Radar</h4>
                            <em>Built at HackUMass 36-hr hackathon</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://github.com/tobyweed/deadline_radar_client" target="_blank">View Source</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/rooweed.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Roo Weed Resume</h4>
                            <em>Physicist Professional Website</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://github.com/tobyweed/rooweed_site" target="_blank">View Source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
