<div id="projects" class="background-image">
    <h1>PROJECTS</h1>
    <p><em></em></p>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/juliajensen.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Julia Jensen</h4>
                            <em>Artist Portfolio</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>