<div id="projects" class="background-image">
    <h1>PROJECTS |<a href="https://github.com/tobyweed" target="_blank"><span class="fa fa-github"></span></a></h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/juliajensen.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Julia Jensen</h4>
                            <em>Artist Portfolio with Custom CMS</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/rooweed.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Roo Weed</h4>
                            <em>Physicist Professional Website</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://www.rooweed.com" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>