<div id="resume">
    <div class="resume-content">
        <div>
            <h1>RESUME</h1>
            <a id="resume-btn" class="btn button">PDF Version</a>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="education col-md-6 col-sm-12">
                    <div class="resume-content">
                        <div id="education" class="vertical-text"><h4>EDUCATION</h4></div>
                        <div class="section">
                            <ul>
                                <li><b><strong>MIDDLEBURY COLLEGE</strong> | CLASS OF 2022.</b> Middlebury, Vermont. Not yet attended.
                                    <p>Committed to Class of 2021 via Early Decision acceptance in the fall of 2016. Deferred acceptance to class of 2022 in order to take a gap year.</p></li>
            		            <li><b><strong>NORTHFIELD MOUNT HERMON</strong> | CLASS OF 2017.</b> Gill, Massachusetts. Fall 2013-Spring 2017. GPA 3.8.
                                    <p><span>LEADERSHIP</span> | Debate team officer, Nordic ski team captain, school newspaper opinions editor, copy editor.
                                    <br><span>HONORS</span> | Cum Laude society, Lila and DeWitt Wallace Creative Writing award.
                                    <br><span>VARSITY SPORTS</span> | Nordic skiing, crew, lacrosse, track.
                                </p></li>
                                <li><b><strong>NATIONAL OUTDOOR LEADERSHIP SCHOOL</strong> | WIND RIVER WILDERNESS BACKPACKING EXPEDITION.</b> Wind River Range, Wyoming. July–August, 2016.
                                    <p>Developed risk management, conflict resolution, leadership in uncertainty, communication, teamwork, self-reliance, and outdoors skills on a 28-day wilderness expedition in the remote reaches of the rocky mountains.
                                </p></li>
                                <li><b><strong>INDEPENDENT ONLINE COURSE</strong> | WEB DEVELOPMENT.</b>
                                    Udemy. July-September, 2017.
                                    <p>Learned fullstack development from a comprehensive online course after work and on weekends.
                                </p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="skills col-md-6 col-sm-12">
                    <div class="resume-content">
                        <div id="skills" class="vertical-text"><h4>SKILLS</h4></div>
                        <div class="section">
                            <ul>
                                <li><strong>TECHNOLOGIES</strong>
                                    <p>JavaScript, Java, Node.js, CSS3/HTML5, Express.js, JQuery, Bootstrap 3, MongoDB, 
                                    Heroku tools, Git/Github, Adobe Illusrator.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p></li>
                                <li><strong>OTHER</strong>
                                    <p>Design, Persuasive Writing, Spanish</p></li>
                            </ul>
                        </div>
                    </div>
            
                    <div class="resume-content">
                        <div id="experience" class="vertical-text"><h4>EXPERIENCE</h4></div>
                        <div class="section">
                            <ul>
                                <li><b><strong>TOBY WEED DEVELOPMENT STUDIO</strong> | DEVELOPER, FOUNDER.</b> September 2017-Present.
                                <p>Built web apps, including professional portfolios and personal sites for paying clients. Select projects at www.tobyweed.com.
                                
                                <li><b><strong>CRESTED BUTTE MOUNTAIN RESORT</strong> | LIFT OPERATOR.</b> Colorado, December 2017-Present.
                                <p>Operated Teocalli lift at Crested Butte ski mountain. Duties included checking and operating machinery, greeting and helping guests, lift team coordination, and communicating with ski patrol.</p></li>
                                
                                <li><b><strong>GECKO HOSTEL, CASTILLO SURFISTA SANTIAGO</strong> | RECEPTIONIST, JANITOR.</b> Pucón & Santiago, Chile. September–October, 2017.
                                <p>Volunteered at two hostels in Chile via workaway.com for roughly 8 weeks. Duties included leading nightlife tours for guests, reception, general guest hospitality, and cleaning.</p></li>
                                
                                <li><b><strong>KRISTINA WIXTED GARDENING</strong> | LANDSCAPER.</b> Nantucket, Massachusetts. June–July, 2017.
                                <p>Worked as a landscaper in Nantucket. Duties included heavy lifting, planting, driving a stick-shift Ford Ranger, and hedge-trimming.</p></li>
                                
                                <li><b><strong>JONATHAN JESUP RESTORATIONS</strong> | CARPENTRY APPRENTICE.</b> Westminster, Vermont. Summer, 2014, 2015.
                                <p>Worked as a carpenter for a contractor in Vermont. Duties included basic carpentry and mason-tending.</p></li>
                                
                                <li><b><strong>PUTNEY STUDENT TRAVEL COMMUNITY SERVICE</strong> | BUILDER.</b> Pallata, Peru. August, 2014.
                                <p>Helped build an adobe brick marketplace in rural Pallata, Peru with a student volunteer group from the US, Greece, and England.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>