<% include partials/header.ejs %>

<div id="about" class="background-colored">
    <div class="layer">
        <div class="content">
            <h1>Hey, my name's Trowbridge Weed.</h1>
            <h5>But you should probably call me Toby, for both of our sakes. I'll be a student at Middlebury College in Vermont starting 
            September 2018, but right now I'm just a guy.</h5>
            
            <div class="leftcol">
                <div id="portrait" style="background-image:url(/portrait.JPG)"></div>
                <button>Resume</button>
                <button>Skills</button>
            </div>
            
            <h6>What is this site?</h6>
            <p>
                This site is primarily two things: a web development portfolio and a personal blog. However, it has an auxiliary function which naturally occurred as a byproduct of the other two goals, and has ended up informing a lot of the design choices I’ve made here: it’s also my online identity, a way for me to express my values and character to potential employers, coworkers, clients, or collaborators. Hence the buzzwords on the landing page.
            </p>
            
            <br/>

            <h6>Why should you care?</h6>
            <p>
                If you’re not considering hiring or collaborating with me, then the odds are that you shouldn’t. This section is just about letting anybody who’s interested know who I am, so if you’re not interested, then you won’t miss anything by skipping this section altogether.
            </p>

            <br/>
            
            <h6>Bio</h6>
            <p>I grew up in rural Putney, Vermont, with my parents, older sister, and cat. I did a lot of playing, drawing, and cross-country skiing.
            I loved ancient Greek mythology, and went through a long phase of creating Greek-style armies out of corks. I went to highschool as a day student at Northfield Mount Hermon in Western Massachusetts,
            where I continued to spend a lot of time playing. I was the captain of the cross-country ski team, and competed at various points in varsity crew, track, and
            lacrosse. I was also a Debate Team officer, and graduated Cum Laude. It was a time of little sleep, sore muscles, and 
            boarding school blur. Again, there was a lot of playing involved, including (most notably) an absolute mastery of foosball and 
            a spring break trip to Havana. 
            <br/>
            Currently, I'm taking a gap year before attending college. Some of my more exciting adventures have been another week-long Cuba peregrination,
            a 70ish day journey through Chile and Bolivia, where I spent a total of 5 weeks working at two hostels (one in Pucon and another in Santiago), and 
            the long process of learning to build websites. At the moment, I'm working as a lift operator at Crested Butte Mountain Resort in Colorado.</p>
            <!--<p>Some of my most defining characteristics are my intensity, independence, intellectual curiousity, ambition,-->
            <!--intolerance of bullshit and hypocrisy, creativity, adventurousness, sociability, impatience, and hubris.</p> -->
            
            <br/>
            
            <h6>Values</h6>
            <p>I believe that people should only work towards goals which align with their values, and that the only reason to collaborate
            is to work towards common goals. Therefore, shared values are the foundation of any working relationship. It is a flaw of our
            tech-era collaborative tools (and indeed capitalist collaboration in general) that everybody shares what they can do, but not why 
            they want to do those things. I will address this problem here.
            <br/>
            I care about conserving the natural beauty of our world, which I believe to be an elementary piece of human health and joy.
            I believe that intellectual curiousity is the noblest human craving, and a natural consequence of the decision to appreciate life.
            Extending this, I think that education is the single most important social system.
            I think that healthy relationships with other people are the single most important ingredient of a full life, although I admit that I often
            fall short in supporting these.
            Ultimately, I would argue that while solipsism is logically inevitable, it is more fruitful to pursue an
            intangible sense of universal harmony based on well thought-out moral assumptions (like the protection and continuation of the human historical narrative)
            than it is to pursue a strictly-defined materialist goal based on similar assumptions (like the most happiness for the most people). The former 
            example is what I would say supports my sense of purpose in life, if I were asked to define it.
            </p> 
            
            <br/>
            
            <h6>Vision</h6>
            <p>I believe that we exist during a pivotal moment in the history of life, and I envision a future in which our species thinks and acts with
            unity, purpose, and conscience. I consider it our duty as individuals to strive for this ideal.</p>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>