<% include partials/header.ejs %>

<div id="essays" class="background-image">
    <div class="layer">
        <div class="content">
            <div class="head-banner">
                <% include partials/navbar.ejs %>
                <a class="button circular" href="#about"><span class="glyphicon glyphicon-menu-down"></span></a>
            </div>
            <tr>
                <td valign="top">
                    <h1>ESSAYS</h1>
                    <p><em></em></p>
                    <hr/>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail" style="background-image:url(/juliajensen.png)">
                                    <div class="thumb-layer">
                                        <div class="thumb-text">
                                            <h4>Julia Jensen</h4>
                                            <em>Artist Portfolio</em>
                                        </div>
                                        <br/>
                                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com">View Site</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail" style="background-image:url(/juliajensen.png)">
                                    <div class="thumb-layer">
                                        <div class="thumb-text">
                                            <h4>Julia Jensen</h4>
                                            <em>Artist Portfolio</em>
                                        </div>
                                        <br/>
                                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com">View Site</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail" style="background-image:url(/juliajensen.png)">
                                    <div class="thumb-layer">
                                        <div class="thumb-text">
                                            <h4>Julia Jensen</h4>
                                            <em>Artist Portfolio</em>
                                        </div>
                                        <br/>
                                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com">View Site</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail" style="background-image:url(/juliajensen.png)">
                                    <div class="thumb-layer">
                                        <div class="thumb-text">
                                            <h4>Julia Jensen</h4>
                                            <em>Artist Portfolio</em>
                                        </div>
                                        <br/>
                                        <a class="thumb-link btn button" href="http://www.juliajensenstudio.com">View Site</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="bottom">
                    <a class="btn button" href="/essays">See More></a>
                </td>
            </tr>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>