<% include partials/header.ejs %>

<div id="landing" class="background-image">
    <div class="layer">
        <div class="content">
            <h1>DISCOVERY, CONSCIENCE, AMBITION</h1>
            <h5><em>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions impact the quality of the future.</em></h5>
        
            <a class="button circular" href="#about"><span class="glyphicon glyphicon-menu-down"></span></a>
        </div>
        
        <div class="sub">
            <% include partials/minis/miniabout.ejs %>
        </div>
        
        <div class="sub">
            <% include partials/minis/miniprojects.ejs %>
        </div>
        
        <div class="sub">
            <% include partials/minis/miniessays.ejs %>
        </div>
        
        <div class="sub">
            <% include partials/contact.ejs %>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>