<% include partials/header.ejs %>

<div id="landing" class="background-image">
    <div class="layer">
        <div class="content">
            <hr id="spacer"></hr>
            <hr id="switch"></hr>
            <div class="navbar navbar-bottom">
                <ul id="nav-list">
                    <li class="nav-item"><a href="#about">ABOUT</a></li>
                    <li class="nav-item"><a href="#resume">RESUME</a></li>
                    <li id="nav-head"><a href="/">TOBY WEED</a></li>
                    <li class="nav-item"><a href="#essays">ESSAYS</a></li>
                    <li class="nav-item"><a href="#projects">PROJECTS</a></li>
                </ul>
            </div>
            <a class="button circular" href="#about"><span class="glyphicon glyphicon-menu-down"></span></a>
        </div>
        
        <div class="sub">
            <% include partials/about.ejs %>
        </div>
        
        <div id="div1" class="divider background-image"><div class="layer"></div></div>
        
        <div class="sub">
            <div id="contactme">
                <div class="contactme-content">
                    <h1>Contact Me</h1>
                    <hr>
                    
                    
                </div>
            </div>
        </div>
        
        <div class="sub">
            <% include partials/contact.ejs %>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>