<% include partials/header.ejs %>

<div id="landing" class="background-image">
    <div class="layer">
        <div class="content">
            <div class="resp-layer">
                <% include partials/navbar.ejs %>
                <a class="button circular" href="#about"><span class="glyphicon glyphicon-menu-down"></span></a>
            </div>
        </div>
        
        <div class="sub">
            <% include partials/about.ejs %>
        </div>
        
        <div class="sub">
            <% include partials/resume.ejs %>
        </div>
        
        <div class="sub">
            <% include partials/projects.ejs %>
        </div>
        
        <div class="sub">
            <% include partials/contact.ejs %>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>