/*======================================================== ABOUT ========================================================*/

#about {
	text-align: center;
	color: black;
	background-color: rgba(246, 246, 246, 1);
	padding-bottom: 63px;
	padding-top: 90px;
}

#about .content {
	margin: 0 40px 0 40px;
}

/*ID BOX*/

.id-box {
	float: left;
	width: 210px;
	margin-right: 20px;
}

#portrait {
	border-radius: 50%;
	border: solid black 1px;
	height: 170px;
	width: 170px;
	background-clip: padding-box;
	background-size: 100%;
	background-position: 50% 80%;

	display: inline-block;
	margin-bottom: 20px;
}

#about hr {
	border: solid black 0.7px;
}

#about h1 {
	/*font-weight: 400;*/
	font-size: 2.9em;
	font-family: 'Source Sans Pro', sans-serif;
}

#about h4 {
	text-align: left;
	margin-bottom: 65px;
	font-size: 2em;
	max-width: 100%;
	margin: 0 auto;

	line-height: 1.6;
}

#about h5 {
	text-align: left;
	font-size: 1.3em;
	font-weight: 300;
	color: black;
}

#about h6 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 5px;
}

#about p {
	text-align: left;
	padding: 0px;
	margin: 0;

	font-size: 1.1em;
}

#about .id-box {
	border-right: solid black 1px;
	max-width: 100%;
	overflow: hidden;
}

#about .about-content {
	margin-top: 30px;
	display: inline-block;
}

#about #bio-text {
	display: none;
}

#about #coding-text {
	display: none;
	font-size: 0.9em;
}

#about #values-text b {
	font-weight: 300;
	color: rgb(150, 150, 150);
}

#about .active {
	color: white;
	background-color: black;
}
