/*======================================================== CONTACT ========================================================*/

.copyright {
    text-align: center;
    color: rgba(210,210,210,.87);
    margin-top: 80px;
}

#contact hr {
    margin-top: 0;
}

a {
    color: rgba(210,210,210,.8);
    text-decoration: none;
    -webkit-transition: color .4s;
    transition: color .4s;
}

a:hover{
    color: white;
    text-decoration: none;
}

.contact {
    text-align: center;
    color: rgba(210,210,210,.8);
    font-size: 2em;
}

.contact-icons{
    margin-top: 80px;
}

.fa {
    margin: 0 10px 0 10px;
}