body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

body ul {
    list-style: none;
}

body h1 {
    font-weight: 200;
}

body p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

body h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

body h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.background-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-colored {
    background-attachment: fixed;
    background-color: #222;
}

.layer {
    height:100%;
    background-color: rgba(0,0,0,.65);
}

.resp-layer {
    height:100%;
}

.button {
    width: 130px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: solid black 1px;
    color: black;
    border-radius: 0;
    padding-top: 9px;
    margin: 10px;
    
    -webkit-transition:background-color .4s;
    transition: background-color .4s;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:focus {
    color: black;
}

h1{
    margin-top:0;
}
/*======================================================== LANDING ========================================================*/

#landing {
    height: 100%;
    top:0;
    background-image: url("/pics/mountain.JPG");
    background-position: 50% 10%;
    text-align: center;
    color: black;
}

#landing .content {
    height: 100vh;
    position:relative;
}

#landing .content #top-landing {
    height: 40%;
}


#landing .content #mid-landing {
    height: 45%;
    text-align: center;
}

#landing .content .logo-background {
    display: inline-block;
    width: 420px;
    height: 115px;
}

#landing .content .logo {
    width: 420px;
    height: 115px;
    overflow: hidden;
    
    color: white;
    font-size: 1em;
    
    display: inline-block;
    padding: 10px 0 10px;
    margin: 0 auto;
}

#landing .content .logo h1 {
    border: solid 2px white;
    height: 75px;
    padding: 5px 10px 5px 10px;
}

#landing .content h1 {
    /*padding-top: 250px;*/
    font-size: 3.9em;
    margin: 0 20px 0 20px;
    font-weight: 200;
    text-align: justify;
    height: 80px;
}

#landing .content .logo h1:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#landing .content .logo p {
    margin: 0 20px 0 20px;
    width: 90%;
    text-align: justify;
    /*font-weight: 400;*/
}

#landing .content .logo p:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#landing .circular:hover  {
    background-color: white;
    color: rgba(0,0,0,0);
}

#landing .circular:link, .circular:visited{
    position: relative;
    bottom: 0;
    
    border-radius:50%;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding-top: 13.5px;
    font-size: 1.3em;
    margin: 0 auto;
    
    
    color: white;
    border: solid white 1px;
}


/*============================================== THUMBNAIL GALLERIES =================================================*/

.thumbnail {
    padding: 0;
    border: solid white 1px;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    border-radius: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.row {
    margin:0 auto;
    width:96vw;
}

.thumb-layer {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
    
    color: white;
    opacity: 0;
    line-height: 1.5;
    
    -webkit-transition: background-color .45s ease-out, opacity .45s ease-out, line-height .45s ease-out;
    transition: background-color .45s ease-out, opacity .45s ease-out, line-height .45s ease-out;
}

.thumb-layer:hover {
    background-color: rgba(0,0,0,.45);
    opacity: 1;
    line-height:.15;
}

.thumb-link {
    margin-top: 25px;
    
}

.thumb-text {
    margin-top: 25%;
    font-size: .85em;
}

/*============================================== SUBS & DIVIDERS ====================================================*/

.sub{
    color: black;
    font-weight: 200;
    text-align: center;
    /*margin-top: 70px;*/
}

.sub h1 {
    padding-top: 35px;
}

.divider {
    height: 200px;
    background-image: url("/pics/car.JPG");
    background-position: 50% 74%;
}