/*======================================================== NAVBAR ========================================================*/

.navbar {
    -webkit-transition: background-color .5s, font-size .5s; /* Safari */
    transition: background-color .5s, font-size .5s;
    
    z-index: 1000;
    
    text-align: center;
    width: 100%;
}

#spacer {
    border: none;
    margin: 0;
    padding-top: .1vh;
}

#switch {
    border: none;
    margin: 0;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  
  background-color: rgba(15,15,15,.95);
}

.navbar-bottom {
    position: fixed;
     top: 0;
}

.navbar-bottom #nav-list .nav-item a:hover {
     color: rgb(0,0,0);
     font-weight: 400;
}

#nav-list {
    padding: 39px 0 30px 0;
}

#nav-list li{
    display:inline-block;
}

#nav-head {
    margin-left: 60px;
    margin-right:60px;
    font-size: 1.15em;
}

#nav-head a {
    padding: 2px 6px 2px 6px;
    border: .2px solid white;
}

.nav-item {
    margin: 0 20px 0 20px;
}

#nav-list li a {
     color: white;
     -webkit-transition: color .25s; /* Safari */
    transition: color .25s;
}

#nav-list .nav-item a:hover {
     text-decoration:none;
     color: gray;
}

#nav-list li a:visited {
     text-decoration:none;
}

#nav-list li a:active {
     text-decoration:none;
}

#nav-list li a:link {
     text-decoration:none;
}

#nav-list .active {
    color: grey !important;
}

/*DROPDOWN*/
#nav-list .dropdown {
    display: none;
}

.dropdown-content {
    display: none;
}