/*============================================== projects ==================================================*/

#projects {
    background-color: rgba(50,50,50,1);
    text-align: left;
    padding-top:80px;
    border-bottom: solid 1px white;
}

#projects h1 {
    font-size: 2.8em;
    text-align: left;
    margin-left: 20px;
    color: white;
    margin-bottom: 5px;
    display: inline-block;
}

#projects hr {
    width: 76vw;
    margin-left:0;
    margin-top: 0;
    margin-bottom: 25px;
    border: solid white .56px;
}

#projects .content h5 {
    font-size: 1.2em;
}

#projects a:visited {
    color: inherit;
}


#projects .button {
    border: solid white 1px;
    color: white;
}

#projects .button:hover {
    background-color: white;
    color: black;
}

#projects .button:focus {
    color: white;
}