/*============================================== projects ==================================================*/

#projects {
    height: 100%;
    top:0;
    background-image: url("/gardenart.JPG");
    background-position: 50% 25%;
    text-align: center;
    color: black;
}

#projects h1 {
    color: white;
    margin-top: 26vh;
}

#projects .head-banner {
    height: 100vh;
}

#projects .content {
    height: 100vh;
    position:relative;
}

#projects .content h5 {
    font-size: 1.2em;
    /*color:rgba(255,255,255,.7);*/
}

#projects .circular:hover  {
    background-color: white;
    color: rgba(0,0,0,0);
}

#projects .circular:link, .circular:visited{
    position: absolute;
    bottom: 0;
    
    border-radius:50%;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding-top: 13.5px;
    font-size: 1.3em;
    margin: 0 0 13vh -1.9%;
    
    
    color: white;
    border: solid white 1px;
}