/*============================================== RESUME =================================================*/

#resume {
    display:table;
    background-color: rgba(190,190,190,.95);
    text-align: left;
    padding-top:80px;
    padding-bottom: 50px;
}

#resume h1{
    font-size: 2.8em;
    text-align: left;
    margin-left: 20px;
    float: left;
}

#resume hr {
    width: 76vw;
    margin-left:0;
    border: solid rgba(100,100,100,.6) .7px;
}

#resume ul {
    padding:0;
    margin:0;
}

#resume b {
    color: grey;
}

#resume strong {
    color: black;
}

#resume span {
    color: grey;
}

#resume .resume-content {
    float: left;
}

#resume div {
    float: left;
}

#resume .section {
    border-left: solid rgba(100,100,100,.6) 1.1px;
    margin-left: 50px;
    padding-left: 10px;
    /*display: inline;*/
    float: left;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left bottom;
	width: 95%;
	color: black;
	
	font-family: "avenir", sans-serif;
}

#resume .skills {
    max-width: 100%;
    overflow: hidden;
}

#resume .education {
    display: table;
}

#resume #skills {
    width: 10px;
}

#resume #education {
    width: 10px;
}

#resume #experience {
    width: 10px;
}

#resume-btn {
    margin-left: 50px;
    margin-top: 36.5px;
    background-color: rgba(245,245,245,.4);
}

#resume-btn:hover {
    background-color: black;
    color:white;
}