<div id="about" class="landing-about">
    <h1>HI, I'M TROWBRIDGE.</h1>
    <hr/>
    
    <div class="landing-about-content">
        <div class="landing-id-box id-box">
            <div id="portrait" style="background-image:url(/portrait.JPG)"></div>
            <a class="btn button">Resume</a>
            <a class="btn button">Skills</a>
            <a class="btn button" href="/about">About Me ></a>
        </div>
        <h4>But you should probably call me Toby, for both of our sakes. I'll be a student at Middlebury College in Vermont starting 
        September 2018, but right now I'm just a guy. </h4>
        <br/>
        <br/>
        <h4> Welcome to my blog, web development portfolio, and personal website.</h4>
    </div>
</div>